@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './base.css';
/*@custom-variant dark (&:where(.p-dark, .p-dark *));*/

#app {
  font-weight: normal;
  height: 100vh;
}

.connection-view {
  padding: 1rem;
}

.dashboard-view {
  padding: 0.5rem;
}

.p-dialog-header {
  padding-bottom: 0.5rem !important;
}

.p-tabpanels {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.togglebutton-border {
  border-width: 0 1px 0 1px !important;
}

.dashboard-header {
  height: 50px;
  border-color: var(--color-slate-300);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.dashboard-sidebar {
  border-color: var(--color-slate-300);
  border-right-width: 1px;
  border-right-style: solid;
  max-width: 15rem;
}

.dashboard-panelmenu {
  border-style: none !important;
}

.own-node-info {
  border-color: var(--color-slate-300);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
}

.own-node-info p {
  max-width: 10rem;
}
