@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './base.css';
@custom-variant dark (&:where(.dark, .dark *));

#app {
  font-weight: normal;
  height: 100vh;
}

.connection-view {
  padding: 1rem;
}

.p-dialog-header {
  padding-bottom: 0.5rem !important;
}

.p-tabpanels {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.togglebutton-border {
  border-width: 0 1px 0 1px !important;
}

.dashboard-header {
  height: 50px;
  border-color: var(--dashboard-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.dashboard-sidebar {
  border-color: var(--dashboard-border-color);
  border-right-width: 1px;
  border-right-style: solid;
  max-width: 15rem;
  padding: 0.5rem;
}

.dashboard-panelmenu {
  border-style: none !important;
}

.own-node-info {
  border-color: var(--dashboard-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
}

.own-node-info p {
  max-width: 10rem;
}

.p-popover::before,
.p-popover::after {
  display: none !important;
}

.logo-text {
  color: var(--p-text-color);
}

/* light (default) */
.emoji-mart,
.emoji-mart-category-label {
  --em-mart-bg: color-mix(in oklab, var(--color-slate-50));
  background: color-mix(in oklab, var(--color-slate-50));
  color: var(--color-slate-900);
  border-color: var(--color-slate-200);
}

.emoji-mart-bar {
  border: 0 !important;
}

.emoji-mart .emoji-mart-search input {
  border: 1px solid var(--color-slate-200);
  color: var(--color-slate-900);
}

/* dark mode */
.dark .emoji-mart,
.dark .emoji-mart-category-label {
  --em-mart-bg: var(--color-slate-900);
  background: var(--color-slate-900);
  color: var(--color-slate-500);
  border-color: var(--color-slate-600);
}

.dark .emoji-mart .emoji-mart-header {
  color: var(--color-slate-500);
}

.dark .emoji-mart .emoji-mart-search input {
  border: 1px solid var(--color-slate-600);
  color: var(--color-slate-400);
}

.dark .emoji-mart-category .emoji-mart-emoji:hover:before,
.emoji-mart-emoji-selected:before {
  background-color: var(--color-slate-600);
  opacity: 1;
}
