@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './base.css';
@custom-variant dark (&:where(.dark, .dark *));

#app {
  font-weight: normal;
  height: 100vh;
}

.connection-view {
  padding: 1rem;
}

.p-dialog-header {
  padding-bottom: 0.5rem !important;
}

.p-tabpanels {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.togglebutton-border {
  border-width: 0 1px 0 1px !important;
}

.dashboard-header {
  height: 50px;
  border-color: var(--dashboard-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.dashboard-sidebar {
  border-color: var(--dashboard-border-color);
  border-right-width: 1px;
  border-right-style: solid;
  max-width: 15rem;
  padding: 0.5rem;
}

.dashboard-panelmenu {
  border-style: none !important;
}

.own-node-info {
  border-color: var(--dashboard-border-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
}

.own-node-info p {
  max-width: 10rem;
}

.p-popover::before,
.p-popover::after {
  left: calc(130px) !important;
}

.logo-text {
  color: var(--p-text-color);
}

.mac-column {
  width: 8rem;
}

.mac-column-input {
  width: 12ch;
}

.connection-column {
  max-width: 6rem;
}

.connection-column-input {
  max-width: 8.3ch;
}

.hardware-column {
  width: 8rem;
}
