name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install monorepo dependencies
        run: pnpm install --frozen-lockfile

      - name: Install web package dependencies
        working-directory: packages/web
        run: pnpm install --frozen-lockfile

      - name: Type check web package
        working-directory: packages/web
        run: pnpm run type-check

      - name: Build web package
        working-directory: packages/web
        run: pnpm run build

      - name: Build monorepo
        run: pnpm build:all
